*{
  box-sizing: border-box;
}
.cards-container{
  text-align: center;
  text-overflow: ellipsis;
  font-size: 24px;
}
.card-wrapper{
  --img-size: 100px;
  --main-bg-color: darkblue;
  display:inline-block;
  min-width: calc(var(--img-size)*2);
  width: 100%;
  max-width: calc(var(--img-size)*3);
  border: 1px solid var(--main-bg-color);
  margin: 20px;
  font-size: 0.8em;
}
.bg-header{
  height: calc(var(--img-size)*1.5);
  background-color: var(--main-bg-color);
}
.capitalize, .uppercase{
  text-transform: capitalize;
  white-space: nowrap;
}
.card-content{
  padding: 0 20px;
}
.photo-profile{
  width: var(--img-size);
  height: var(--img-size);
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  margin-top: calc(var(--img-size)*-0.5);
  object-fit: cover;
  object-position: top center;
  background-color:#ffffff;
}
.address-profile, p{
  font-size: 17px;

}
.btn-container{
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 15px 0;
}
.btn{
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
}
.follow{
  background-color: green;
}
.send-messege{
  background-color:blue
}
.card-footer{
  background-color: var(--main-bg-color);
  padding: 10px;
}
.link-social{
  display:block;
  width: 36px;
  height: 36px;
}
.card-item-social{
  display:inline-block;
}
.icon-fb{
  background-image: url(./../icon/facebook.png);
}
.icon-google{
  background-image: url(./../icon/google-plus.png);
}
.icon-twittter{
  background-image: url(./../icon/twitter.png);
}
